@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Inter:var(--body-base-font-weight),var(--single-line-body-base-font-weight),var(--body-strong-font-weight),var(--heading-font-weight),var(--subheading-font-weight)|Merriweather:400|Roboto:var(--m3-label-medium-font-weight),var(--m3-label-medium-prominent-font-weight)");
:root {
  --main-color: #DCEDFE;
  --color-dark: #0152A8;
  --text-gray: #8390A2;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 210px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #FEF7FF;
  color: #0FE3AF;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-header h3.brand {
  padding-top: 1rem;
  padding-left: 1rem;
}

.sidebar-header i.ti-menu-alt {
  padding-top: 1rem;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar-menu a {
  display: block;
  color: #fff;
  padding-left: 1.1rem;
}

.sidebar-menu a.active {
  background: #ECF2FF;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #143450;
  border-radius: 30px 0px 0px 30px;
  margin-right: -1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: #143450;
  font-size: 1rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

.main-content {
  position: relative;
  margin-left: 210px;
  min-height: 240px;
  padding-top: 70px;
}

header {
  position: fixed;
  left: 210px;
  top: 0;
  z-index: 100;
  width: calc(100% - 210px);
  background: #fff;
  height: 4.7rem;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--text-gray);
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.header-auth .button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000;
  cursor: pointer;
}

.header-auth .button-register {
  background-color: #c7e0fe;
  border-color: #000;
  margin-left: 12px;
}

.header-auth .text-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  color: #000;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 100%;
  white-space: nowrap;
  font-style: normal;
}

.header-auth .button-register .text-wrapper {
  color: #000;
}

main {
  background: #ECF2FF;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.heading {
  font-family: "Merriweather", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 30px;
  letter-spacing: -0.66px;
  line-height: 45px;
}

.sub-heading {
  font-family: "Merriweather", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 18px;
  letter-spacing: -0.34px;
  line-height: 27px;
  margin-top: 5px;
  text-align: center;
}

.home-screen-widget {
  width: 90%;
  height: 300px;
  margin: 20px 0;
  border-radius: 21px;
  background: linear-gradient(180deg, rgb(199, 224, 254) 0%, rgb(88, 175, 232) 100%);
}
