@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --main-color: #DCEDFE;
  --color-dark: #0152A8;
  --text-gray: #8390A2;

}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 210px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #0FE3AF;
  overflow-y: auto;
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-header h3.brand {
  padding-top: 1rem;
  padding-left: 1rem
}

.sidebar-header i.ti-menu-alt {
  padding-top: 1rem;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar-menu a {
  display: block;
  color: #fff;
  padding-left: 1.1rem;
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #143450;
  border-radius: 30px 0px 0px 30px;
  margin-right: -1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: #143450;
  font-size: 1rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

main-content {
  position: relative;
  min-height: 240px;
}

header {
  position: fixed;
  left: 210px;
  top: 0;
  z-index: 100;
  width: calc(100% - 210px);
  background: #fff;
  height: 4.7rem;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--text-gray);
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}