* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url('5.png') center/cover no-repeat;
}

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  background: #fff;
  overflow: hidden;
  transition: 1s;
}

nav:hover {
  width: 280px;
  transition: 1s;
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover {
  background: #eee;
}

a:hover i {
  color: #21cdc0;
  transition: 0.5s;
}

.logout {
  position: absolute;
  bottom: 0;
}

.container {
  display: flex;
}

/* Main Section */
.main {
  position: relative;
  padding: 20px;
  width: 100%;
}

.main-top {
  display: flex;
  font-size: 20px;
  width: 100%;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.main .users {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  width: 100%;
}

.users .card {
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 30px; 
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.users .card h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.users .card p {
  font-size: 14px; 
  margin-bottom: 15px;
  text-transform: uppercase;
}

.users table {
  margin: auto;
}

.users .per span {
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
