#footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap; /* Cho phép các phần tử chuyển dòng khi không đủ không gian */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.sub-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
    margin-top: 10px; /* Khoảng cách giữa logo chính và các logo phụ khi chuyển sang dạng dọc */
}

.sub-logos img {
    height: 20px;
    margin-right: 10px;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin-left: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact-info p {
    margin: 0;
    margin-bottom: 9px;
}

.subscribe {
    display: flex;
    gap: 10px;
    align-items: center;
}

.subscribe input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.subscribe button {
    border: none;
    background-color: #0FE3AF;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.subscribe button:hover {
    background-color: #0152A8;
}

/* Điều chỉnh cho các màn hình nhỏ hơn */
@media (max-width: 768px) {
    #footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo-container, .links-container, .contact-container {
        flex: 1 0 100%;
        margin-left: 0;
    }
    .sub-logos {
        order: 3;
    }
    .subscribe {
        width: 100%;
    }
}
