body
{
    margin: 0;
    padding: 0;
}
*
{
    box-sizing: border-box;
}

#footer
{
    background-color: #283b6a;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}
.logo
{
    max-width: 300px;
    flex: 1;
    margin-bottom: 10px;
}
.links-container, .link
{
    flex: 1; 
    max-width: 200px; 
    margin-bottom: 20px; 
}

.links-container, .link
{
    margin-top: 20px;
}
.box
{
    max-width: 300px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    border-radius: 10px;
}

.img
{
    width: 100px;
    height: auto;
    margin-left: 30px;
    margin-bottom: 30px;
}

.img img {
    width: 30%;
    height: auto;
}

.content
{
    color: white;
    max-width: 265px;
    margin-left: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.appointment a
{
    color: #21cdc0;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
}

.depart
{
    color: white;
    font-weight: bold;
}
.menu
{
    color: white;
    font-weight: bold;
}

.links-container, .link 
{
    flex: 1;
    max-width: 200px;
    text-align: left;
}

.links-container ul, .link ul 
{
    list-style: none;
    padding: 0;
}

.links-container li, .link li 
{
    margin-bottom: 10px;
}

.links-container a, .link a 
{
    color: white; 
    text-decoration: none; 
}

.links-container a:hover, .link a:hover 
{
    text-decoration: underline; 
}

.quick
{
    color: #283b6a;
    font-weight: bold;
    margin-right: auto;
    margin-bottom: 20px;
}

.box-content
{
    color: gray;
}

.direct a
{
    color: #21cdc0;
    text-decoration: none;
    font-weight: bold;
}

.number
{
    display: flex; 
    margin-right: auto;
}

.number p
{
    color: #283b6a;
    font-weight: bold; 
}

.address
{
    color: gray;
}

.box-image-number
{
    width: 100px;
    height: auto; 
}

.box-image-number img
{
    width: 25%;
    height: auto;
    margin-left: auto;
}
